* {box-sizing: border-box;}

body {
	/* background: lightgray; */
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #404040;
	line-height: 1.6;
}

/* ==================
Typography
===================== */

h1, h2, strong {
	font-weight: 700;
}

.accent-color {
	color: #ffe600;
}

.hero-title {
	font-size: 1.5rem;
	line-height: 1.4;
	margin-bottom: 0;
}

.section-title {
	font-size: 1.125rem;
	color: #000;
	margin-top: 1.25em;
}

.hero h1,
.hero p{
	border: 4px solid yellow;
}

.hero a {
	border: 4px solid red;
}

/* buttons */

.btn {
	padding: .5em 1.75em;
	font-weight: 700;
	margin-top: .5em;
	text-decoration: none;
}

.btn-primary {
	background: #ffe600;
	color: #000;
	justify-self: start;
}

/* ==================
    general layout
===================== */

.main-grid {
	display: grid;
	grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
}

/* footer */

.footer {
	border: 4px solid blue;
	background: #ebebeb;
	padding: 4em 0;
	text-align: center;
}

.footer-main,
.social-list {
	border: 4px solid red;
	grid-column: 2 / -2;
}

/* ==================
    hero area
===================== */

.hero {
	border: 4px solid yellow;
	background-image: url(hero-bg.jpg);
	padding: 4em 0;
	color: #fff;
}

.hero > * {
	grid-column: 2 / -2;
}

/* ==================
    info section
===================== */

.info {
	padding: 4em 0;
	text-align: center;
}

.col {
	grid-column: 2 / -2;
}